<article>
    <p>
      Yes. Simply query deleted records by adding <code>IsDeleted = TRUE</code> 
      to your filters and including <code>ALL ROWS</code> in the query. 
      <img src="../../../../assets/image/query-managerq-restore-deleted-records/query-managerq-restore-deleted-records1.jpg" >  

      Then, select the records and apply <strong>Mass Undelete</strong> to restore 
      them in a single step.
      <img src="../../../../assets/image/query-managerq-restore-deleted-records/query-managerq-restore-deleted-records2.jpg" >  
    </p>

  </article>
  