<div class="faq-container">
  <div class="faq-search">
    <div class="search-wrapper">
      <input
        #faqSearchBox
        id="faqSearchInput"
        type="text"
        placeholder="Search FAQs..."
        (focus)="openSearchOverlay()"
        role="combobox"
      />

      <span
        class="shortcut-hint shortcut-clickable"
        (click)="isSearchOpen = true"
        >/</span
      >
    </div>
  </div>

  <div class="faq-layout">
    <!-- <aside class="faq-sidebar">
      <h3 class="sidebar-title">Categories</h3>
      <ul class="category-list">
        <li
          class="category-item"
          [class.active]="!currentCategory"
          (click)="clearCategory()"
        >
          All
        </li>

        <li
          *ngFor="let cat of categories"
          class="category-item"
          [class.active]="cat === currentCategory"
          (click)="pickCategory(cat)"
        >
          {{ cat }}
        </li>
      </ul>

      <div
        class="subcategory-container"
        *ngIf="currentCategory && subCategories[currentCategory]?.length"
      >
        <h4 class="sidebar-title">Subcategories</h4>
        <ul class="subcategory-list">
          <li
            *ngFor="let subCat of subCategories[currentCategory]"
            class="subcategory-item"
            [class.active]="subCat === currentSubCategory"
            (click)="pickSubCategory(subCat)"
          >
            {{ subCat }}
          </li>
        </ul>
      </div>
    </aside> -->

    <main class="faq-main">
      <app-faq-home *ngIf="showHome" (selectedTrending)="handleTrendingSelect($event)" ></app-faq-home>
      <div *ngIf="showHome" class="all-faqs">
        <h2 class="section-title">All FAQs</h2>
        <mat-accordion>
          <mat-expansion-panel
            *ngFor="let item of allFaqList"
            (opened)="onFaqOpened(item)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title class="faq-title">
                {{ item.question }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container
              *ngComponentOutlet="
                FaqComponentRegistry[toRegistryKey(item.answer)]
              "
            ></ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div *ngIf="showHome" class="need-more-help">
        <h2 class="section-title">Need more help?</h2>
        <p class="help-text">
          Contact us at
          <a class="help-text-link" href="mailto:hello&#64;data-sync-pro.io">hello&#64;data-sync-pro.io</a>
        </p>
      </div>
      <ng-container *ngIf="!showHome">
        <nav class="breadcrumb" *ngIf="currentCategory || currentSubCategory">
          <span
            class="breadcrumb-link"
            (click)="clearCategory()"
            [class.clickable]="currentCategory || currentSubCategory"
          >
          FAQ Home
          </span>
          <ng-container *ngIf="currentCategory">
            <span class="breadcrumb-separator">/</span>
            <span
              class="breadcrumb-link"
              (click)="pickCategory(currentCategory)"
              [class.clickable]="true"
            >
              {{ currentCategory }}
            </span>
          </ng-container>
          <ng-container *ngIf="currentSubCategory">
            <span class="breadcrumb-separator">/</span>
            <span
              class="breadcrumb-link"
              (click)="pickSubCategory(currentSubCategory)"
              [class.clickable]="true"
            >
              {{ currentSubCategory }}
            </span>
          </ng-container>
        </nav>

      <mat-accordion>
        <mat-expansion-panel
          class="faq-panel"  
          *ngFor="let item of filteredFAQ"
          (opened)="onFaqOpened(item)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="faq-title">
              {{ item.question }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container
            *ngComponentOutlet="
              FaqComponentRegistry[toRegistryKey(item.answer)]
            "
          ></ng-container>
        </mat-expansion-panel>
      </mat-accordion>

        <div class="no-results" *ngIf="filteredFAQ.length === 0">
          No FAQs found. Try a different search or reset the filters.
        </div>
      </ng-container>
    </main>
  </div>
  <app-search-overlay
    *ngIf="isSearchOpen"
    [isOpen]="isSearchOpen"
    (closed)="isSearchOpen = false"
    (selectedResult)="handleSearchSelect($event)"
  ></app-search-overlay>
</div>
