<header class="header-container" [class.is-portrait]="isPortrait">
  <a routerLink="/home" class="logo-area">
    <img src="assets/logo.png" alt="Company Logo" class="company-logo" />
    <span class="company-name">DSP</span>
  </a>
  <button
    class="portrait-toggle-btn"
    (click)="toggleNav()"
    *ngIf="isPortrait"
  >
    {{ navOpen ? 'Close Menu' : 'Open Menu' }}
  </button>
  <nav
    class="nav-links"
    [class.portrait-nav]="isPortrait && navOpen"
  >
    <div
      class="nav-item"
      *ngFor="let item of navItems; let i = index"
      (click)="onNavItemClick(i)"
      [class.open]="item.isOpen"  
    >
      <a [routerLink]="item.link">
        {{ item.label }}
      </a>

      <div class="mega-menu" *ngIf="item.hasMegaMenu">
        <div class="mega-menu-inner">
          <div class="mega-column">
            <h3>Column A</h3>
            <p class="column-description">Description for Column A</p>
            <div class="mega-sub-menu">
              <a routerLink="/sub-link1">Sub Link 1</a>
              <a routerLink="/sub-link2">Sub Link 2</a>
            </div>
          </div>

          <div class="mega-column">
            <h3>Column B</h3>
            <p class="column-description">Description for Column B</p>
            <div class="mega-sub-menu">
              <a routerLink="/sub-link3">Sub Link 3</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
