<article>
  <p>
    To display related lists for each row in a <strong>Data List</strong>,
    follow these steps:
  </p>
  <ul>
    <li>
      <strong>Create a Pipeline</strong> that contains one or more
      <strong>Data Lists</strong> configured with <strong>dynamic filters</strong>
      based on a <strong>context record ID</strong>.
    </li>
  </ul>
      <img src="../../../../assets/image/rules-engines-data-list-specify-related-lists/rules-engines-data-list-specify-related-lists1.jpg" />


  <ul>
    <li>
      In the <strong>parent Data List Executable</strong>, set the field
      <strong>"Q: Row's Related Lists Pipeline API Name"</strong> to the
      <strong>API Name of the Pipeline</strong> created in Step 1.
    </li>
  </ul>
            <img src="../../../../assets/image/rules-engines-data-list-specify-related-lists/rules-engines-data-list-specify-related-lists2.jpg" />

  <ul>
   <li>
        Once configured, a standard <strong>"Related Lists"</strong> row action
        will automatically appear for each row. Clicking this action will display
        the related lists defined in the Pipeline.
   </li>
  </ul>
      <img src="../../../../assets/image/rules-engines-data-list-specify-related-lists/rules-engines-data-list-specify-related-lists3.jpg" />
 

  <ul>
    <li>  
        By default, related lists open in a <strong>modal popup</strong>, but you
        can set <strong>"Q: Show Row's Related Lists Below?"</strong> to
        <strong>TRUE</strong> to display them inline, directly beneath the main
        Data List.
    </li>
  </ul>



</article>