<div class="recipe-card" (click)="onRecipeClick()">
  <div class="card-content">
    <div class="card-text">
      <h3 class="recipe-title">{{ recipe.title }}</h3>
      <p class="recipe-description">{{ recipe.overview }}</p>
    </div>
    <div class="card-icons" *ngIf="recipeIcons.length > 0">
      <img
        *ngFor="let item of recipeIcons"
        class="icon"
        [src]="item.icon"
        [alt]="item.displayName"
        [title]="item.displayName"
        aria-hidden="true">
    </div>
  </div>
</div>
