<nav #toc class="toc" [style.width]="sidebarW">
  <ul>
    <li class="section" *ngFor="let sec of nav">
      <button class="section-header" (click)="sec.expanded = !sec.expanded">
        <span class="caret" [class.rot]="sec.expanded">▸</span>
        {{ sec.parent }}
      </button>
      <ul *ngIf="sec.expanded">
        <li *ngFor="let i of sec.items">
          <a [routerLink]="buildLink(i)" routerLinkActive="active">{{ i.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="resizer" (mousedown)="startDrag($event, toc)"></div>
<div class="content">
  <router-outlet></router-outlet>
</div>
