<p>
  No, Batch in Data Sync Pro (DSP) is not limited to cross-org data migrations. While it 
  supports seamless cross-org data synchronization, it is also designed for high-performance 
  <strong>data operations</strong> within the same Salesforce org.
</p>
<p>
  To run batch jobs within the same org, use the Connection where <strong>"Is Current Org"</strong> is enabled, 
  allowing the job to execute in the context of the running user.
</p>
<img src="../../../../assets/image/batch-batch-cross-org/batch-batch-cross-org.png" />