<article><p>
  You can schedule Batch jobs by creating
  <strong>Schedule records</strong> associated with a
  <strong>Batch Executable</strong>, <strong>Pipeline</strong>, or a
  <strong>global Apex class</strong> implementing the Batchable or Schedulable
  interface.
</p>
<br />
<p>
  Since Salesforce imposes limits on scheduled jobs, using Pipelines to chain
  Batch Executables helps optimize scheduling resources and reduce job
  consumption.
</p>
<br />
<img src="../../../../assets/image/rules-engines-batch-schedule-batch-jobs/rules-engines-batch-schedule-batch-jobs.jpg"></article>