<app-banner
    [title] = "'Recipes'"
    [description] = "'Pre-configured recipes to speed up common Salesforce data tasks.'"
></app-banner>

<div class="outter-container">
    <app-recipe-layout
        #recipeLayout
        [recipes]="currentRecipes"
        [categories]="categories"
        [selectedCategories]="currentFilter.categories"
        [searchQuery]="search.query"
        (categoryToggle)="toggleCategoryFilter($event)"
        (searchChange)="searchRecipes($event)"
        (recipeSelect)="goToRecipe($event)"
        (openSearchOverlay)="openSearchOverlay()">
    </app-recipe-layout>
</div>