<article>
  <ul>
    <li>
      The <strong>"Matched Records Sorting Components"</strong> field defines the 
      <strong>sorting logic</strong> for matched target records when multiple records are found. 
      It consists of semicolon-separated expressions that <strong>compare</strong> and <strong>sort</strong>
      records in ascending order by default.<br />
    </li>

    <li>
      To sort in descending order, prefix an expression with a negative sign 
      (<code>-</code>). <br />For example:<br />
      <code>-LEN(Description) <br />-LastModifiedDate</code><br />
      This sorts matched records first by <code>Description</code> length (DESC), 
      and if lengths are the same, by <code>LastModifiedDate</code> (DESC).
    </li>

    <li>
      For Boolean values, TRUE is considered smaller than FALSE.
    </li>
  </ul>
</article>
      <img src="../../../../assets/image/process-steps-match-matched-records-sorting/process-steps-match-matched-records-sorting.jpg" />
