<article><p> Go to <strong>Migration Builder</strong> within the Pipeline to set up Batch Executables for syncing multiple objects.</p>
<ol>
    <li>Create a Pipeline record and set its direction to <em>Template</em>.</li>
    <li>Navigate to the <strong>Migration Builder</strong> tab.</li>
    <li>Add root objects, then expand each root object down to the leaf node you want to sync.</li>
    <li>Select the desired leaf node.</li>
    <li>In the modal popup, choose the source and target matching fields, define the action, and click <strong>Create Executables</strong> to generate the required batch processes.</li>
    
</ol>
</article>