<article>
    <p> Go to <strong>Migration Builder</strong> within the Pipeline to set up Batch Executables for syncing multiple
        objects.</p>
    <ol>
        <li>Create a Pipeline record and set its direction to <em>Template</em>.
            <img
                src="../../../../assets/image/rules-engines-batch-batch-parent-child/rules-engines-batch-batch-parent-child1.jpg">
        </li>

        <li>Navigate to the <strong>Migration Builder</strong> tab.
            <img
                src="../../../../assets/image/rules-engines-batch-batch-parent-child/rules-engines-batch-batch-parent-child2.jpg">
        </li>
        <li>Add root objects, then expand each root object down to the leaf node you want to sync.</li>
        <li>Select the desired leaf node.
            <img
                src="../../../../assets/image/rules-engines-batch-batch-parent-child/rules-engines-batch-batch-parent-child3.jpg">
        </li>
        <li>In the modal popup, choose the source and target matching fields, define the action, and click
            <strong>Create Executables</strong> to generate the required batch processes.
            <img
                src="../../../../assets/image/rules-engines-batch-batch-parent-child/rules-engines-batch-batch-parent-child4.jpg">
        </li>

    </ol>
</article>