<section>
    <p>
      Navigate to the <strong>Connection</strong> record for the remote 
      Salesforce org, go to the <strong>Q</strong> tab, and execute your query 
      using <strong>Query Manager (Q)</strong>.
    </p>
    <ul>
      <li>The data retrieved reflects the access/permissions of the authorized user defined in the Connection.</li>
      <li>To access the Q tab on Connections, users must have the custom permission <code>DSP: Access Q on Remote Connections</code>.</li>
    </ul>
    <p>
      📌 This permission is included in <strong>DSP: Data Sync Pro Administrator</strong>. 
      Otherwise, assign it manually as needed.
    </p>
  </section>
  