body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
  }
  
  article {
    margin: 0 auto;
    background-color: #fff;
  }
  
  p {
    margin-bottom: 1em;
    color: #333;
  }
  
  ul {
    margin: 1em 0;
    padding-left: 1.2em;
  }
  
  ul li {
    margin-bottom: 0.5em;
  }
  