<section [id]="section.elementId"
         class="recipe-section"
         [class.use-case-highlight]="section.isHighlight"
         [class.walkthrough-step]="section.contentType === 'walkthrough-step'">

  <!-- Title is only shown for non-walkthrough sections -->
  <h4 *ngIf="section.contentType !== 'walkthrough-step'">{{ section.title }}</h4>

  <!-- Switch based on content type -->
  <ng-container [ngSwitch]="section.contentType">

    <!-- ========== OVERVIEW CONTENT TYPES ========== -->

    <!-- Use Case Highlight (special treatment) -->
    <div *ngSwitchCase="'use-case-highlight'" class="use-case-content">
      <div [innerHTML]="section.data"></div>
    </div>

    <!-- HTML content -->
    <div *ngSwitchCase="'html'" [innerHTML]="section.data"></div>

    <!-- Simple text content -->
    <p *ngSwitchCase="'text'">{{ section.data }}</p>

    <!-- Tag list (versions, keywords) -->
    <div *ngSwitchCase="'tag-list'" [class]="section.tagClass === 'version-tag' ? 'version-tags' : 'keyword-tags'">
      <span *ngFor="let item of asAny(section.data); trackBy: trackByIndex"
            [class]="section.tagClass || 'tag'">{{ item }}</span>
    </div>

    <!-- Simple list -->
    <ul *ngSwitchCase="'list'">
      <li *ngFor="let item of asAny(section.data); trackBy: trackByIndex">{{ item }}</li>
    </ul>

    <!-- Download list -->
    <div *ngSwitchCase="'download-list'" class="download-list">
      <div *ngFor="let executable of asAny(section.data); trackBy: trackByUrl" class="download-item">
        <button type="button"
                class="download-link"
                (click)="onDownloadClick(executable.url, executable.title, executable.originalFileName)">
          {{ executable.title }}
          <lightning-icon iconName="utility:download" size="xx-small" alternativeText="Download"></lightning-icon>
        </button>
      </div>
    </div>

    <!-- Link list (related recipes) -->
    <div *ngSwitchCase="'link-list'" class="related-recipes">
      <a *ngFor="let related of asAny(section.data); trackBy: trackByUrl"
         [href]="related.url"
         class="related-recipe-link">
        {{ related.title }}
      </a>
    </div>

    <!-- Prerequisites (bullet points format) -->
    <div *ngSwitchCase="'prerequisites'" class="prerequisites-list">
      <ul>
        <li *ngFor="let prereq of asAny(section.data); trackBy: trackByDescription">
          <div class="prerequisite-description">
            {{ prereq.description && prereq.description.trim() ? prereq.description : 'N/A' }}
            <ng-container *ngIf="prereq.quickLinks?.length">
              <ng-container *ngFor="let link of prereq.quickLinks; trackBy: trackByUrl">
                <a [href]="link.url" target="_blank" *ngIf="link.title && link.title.trim()" class="inline-download-icon">
                  <lightning-icon iconName="utility:download" size="xx-small" alternativeText="Download"></lightning-icon>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>

    <!-- Version info -->
    <div *ngSwitchCase="'version-info'">
      <p>Version: {{ asAny(section.data)?.version }}</p>
      <p>{{ asAny(section.data)?.description }}</p>
    </div>

    <!-- ========== WALKTHROUGH STEP ========== -->

    <div *ngSwitchCase="'walkthrough-step'" class="walkthrough-step-content">
      <!-- Step Title -->
      <div class="step-description">
        <h3>{{ displayStepNumber }}. {{ asAny(section.data)?.step }}</h3>
      </div>

      <div class="step-content">
        <!-- Media Section -->
        <div class="media-section" *ngIf="asAny(section.data)?.media?.length">
          <div class="media-content">
            <div class="media-item" *ngFor="let media of asAny(section.data).media; trackBy: trackByMediaUrl">
              <div [ngSwitch]="media.type">
                <div *ngSwitchCase="'image'" class="media-image" appSimpleZoomable [enableHoverZoom]="false">
                  <img [src]="media.url" [alt]="media.alt" class="responsive-image zoomable-image">
                  <p class="media-caption" *ngIf="media.alt">{{ media.alt }}</p>
                </div>

                <div *ngSwitchCase="'video'" class="media-video">
                  <video controls class="responsive-video">
                    <source [src]="media.url" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <p class="media-caption" *ngIf="media.alt">{{ media.alt }}</p>
                </div>

                <div *ngSwitchCase="'link'" class="media-link">
                  <a [href]="media.url" target="_blank" class="external-link">
                    <mat-icon>link</mat-icon>
                    {{ media.alt || media.url }}
                  </a>
                </div>

                <div *ngSwitchCase="'document'" class="media-document">
                  <a [href]="media.url" target="_blank" class="document-link">
                    <mat-icon>description</mat-icon>
                    {{ media.alt || 'Download Document' }}
                  </a>
                </div>

                <div *ngSwitchDefault class="media-default">
                  <a [href]="media.url" target="_blank">
                    {{ media.alt || media.url }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Config Section -->
        <div class="config-section" *ngIf="asAny(section.data)?.config?.length">
          <div class="config-fields">
            <div class="field-group" *ngFor="let config of asAny(section.data).config; let i = index; trackBy: trackByConfigField">
              <label>{{ i + 1 }}. {{ config.field }}:</label>
              <div class="field-value-container" [class.checkbox-container]="isBoolean(config.field)">
                <ng-container *ngIf="isBoolean(config.field); else textValue">
                  <div class="slds-checkbox-container">
                    <div class="slds-checkbox" [class.slds-checkbox--checked]="isTrueValue(config.value)">
                      <input type="checkbox"
                             [checked]="isTrueValue(config.value)"
                             disabled
                             class="slds-checkbox__input">
                      <span class="slds-checkbox__faux">
                        <svg class="slds-checkbox__checkmark" *ngIf="isTrueValue(config.value)" viewBox="0 0 24 24">
                          <path d="M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1.001 1.001 0 0 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.74.33z"/>
                        </svg>
                      </span>
                    </div>
                  </div>
                </ng-container>
                <ng-template #textValue>
                  <span class="field-value">{{ config.value }}</span>
                  <button class="copy-btn" (click)="copyToClipboard($event, config.value)" title="Copy to clipboard">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
</section>
