<article>
    <p>
      In the Field Mappings of an Executable, use functions like 
      <code>RANDOMIZE</code>, <code>RANDOM_ITEM</code>, or <code>SCRAMBLE</code> 
      to generate masked data (Note: These masking functions are only allowed in 
      a sandbox environment). You can also create custom formulas, such as 
      <code>FirstName &amp; '.' &amp; LastName &amp; '@test.com'</code>, 
      to generate obfuscated values.
    </p>
    <br />
    <p>
      Refer to the respective formula documentation for more details.
    </p>
  </article>
  