.page-banner {
    height: 177px;
    background-color: #F1F6FB;
    align-content: center;
}

.page-banner-title-group {
    margin-left: 24px;
    padding-top: 10px;
}

.page-banner-title {
    font-size: 36px;
    color:#2253B2;
    font-weight: 500;
}

.page-banner-description {
    font-size: 16px;
    color: #475569;
}