.page-banner {
    height: 177px;
    background-color: #F1F6FB;
    align-content: center;
    margin-top: 60px;
}

.page-banner-title-group {
    max-width: 1696px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 24px 0 24px;
    box-sizing: border-box;
}

.page-banner-title {
    font-size: 2.25rem;
    color:#2253B2;
    font-weight: 500;
}

.page-banner-description {
    font-size: 1rem;
    color: #475569;
}