<section>
    <p>
      "Yes, if ""Log To File?"" is enabled, DSP captures the original data in a 
      ContentDocument before processing the Data Load. You can use the 
      ""Restore Updated From Log File"" or ""Re-Create Deleted From Log File"" quick 
      actions from the Execution record to revert changes for Update and Delete 
      actions, respectively.
    </p>
    <p>
      For Insert actions, use the ""Delete Inserted Records"" quick action to remove 
      the inserted records."
    </p>
  </section>
  