<article>
  <p>
    In Query Manager (Q), you can efficiently <strong>save</strong>, <strong>organize</strong>,
    and <strong>reuse</strong> your queries with the following features:
  </p>
  <ul>
    <li>
      <strong>Save Queries</strong> – Use the
      <strong>"Save Query"</strong> button to store your current query for
      future use.
    </li>
  </ul>

    <img [src]="'assets/image/query-managerq-manage-queries/query-managerq-manage-queries1.jpg'" /> 

  <ul>
    <li>
      <strong>View Saved Queries</strong> – Click
      <strong>"Select Query"</strong> to browse saved queries, sorted by
      <strong>Last Modified Date</strong>.
    </li>

    <li>
      <strong>Select a Query</strong> – Load any saved query into Q, modify it
      as needed, and execute the query to view the results.
    </li>
  </ul>
    
  <ul>
    <li>
      <strong>Sort &amp; Filter</strong> – Sort by <strong>Label</strong> or
      <strong>Object API Name</strong>, and use
      <strong>Column Filters</strong> to find queries quickly.
    </li>
    </ul>

    <img [src]="'assets/image/query-managerq-manage-queries/query-managerq-manage-queries2.jpg'" /> 

    <ul>
    <li>
      <strong>Relabel or Delete</strong> – Update query labels for clarity or
      remove unused queries.
    </li>
  </ul>
</article>

    <img [src]="'assets/image/query-managerq-manage-queries/query-managerq-manage-queries3.jpg'" /> 