<article>
    <p>
      The "Input Data Key Field" is the unique identifier for each 
      source record (case-sensitive) in DSP Data Loader. It is used 
      internally for processing, logging, and maintaining record 
      references throughout execution.
    </p>
    <br />
    <p>
      If not specified, DSP defaults to using the row index as the Input 
      Data Key. However, defining a key field is recommended whenever 
      possible to enhance data integrity and tracking.
    </p>
  </article>
  