<article>
    <p>
      Enable <strong>"Q: Query Manager Toggleable?"</strong> on the Data List Executable 
      to give users access to the <strong>Query Manager (Q)</strong>—an intuitive UI that 
      allows them to <strong>select fields, adjust filters, and apply sorting</strong> 
      as needed.
    </p>
      <img src="../../../../assets/image/rules-engines-data-list-extend-data-lists-lwc/rules-engines-data-list-extend-data-lists-lwc1.jpg" >
    <p>
      DSP’s Query Manager lists all <strong>selectable and orderable fields</strong>, 
      including fields from <strong>parent relationships</strong>, and provides 
      <strong>autocomplete hints</strong> for filter operators and values—tailored to 
      the field type (e.g., picklists, date/datetime, reference fields, etc.).
    </p>
      <img src="../../../../assets/image/rules-engines-data-list-extend-data-lists-lwc/rules-engines-data-list-extend-data-lists-lwc2.jpg" >
    <p>
      📌 To simplify the interface, enable <strong>"Q: Hide Others in Query Manager?"</strong> 
      to hide the <strong>"Other"</strong> section for a more focused user experience.
    </p>
  </article>
  
