<article>
    <p>
      To preview a source record along with its transformed values before 
      execution, navigate to the <strong>Retrieve section</strong>. In the previewed source data 
      query results, click on the <strong>Id</strong> or <strong>Name field</strong> of a source record. 
        <img src="../../../../assets/image/process-steps-retrieve-preview-source-record/process-steps-retrieve-preview-source-record1.jpg" >

      This opens a detailed view where you can:
    </p>

    <ul>
      <li>
        <strong>View the Source Data</strong>: The Source tab displays all field 
        values from the retrieved record.
      </li>
    </ul>

    <ul>
      <li>
        <strong>Check Transformed Values</strong>: The Transformed tab shows 
        the current values (if any) and the transformed values for mapped 
        target fields.
      </li>
    </ul>
    <img src="../../../../assets/image/process-steps-retrieve-preview-source-record/process-steps-retrieve-preview-source-record2.jpg" >


    <ul>
      <li>
        If the record does not meet execution criteria, a message 
        <em>"No target action will be taken for this source record"</em> will 
        be displayed. If multiple target matches exist, DSP lists all matched 
        records as tabs—click any of them to view the corresponding transformations.
      </li>
    </ul>
    <p>
      Note: To enable this preview, ensure that 
      <strong>"Open Links in Record Page"</strong> is unchecked in the Query 
      Builder settings.
      <img src="../../../../assets/image/process-steps-retrieve-preview-source-record/process-steps-retrieve-preview-source-record3.jpg" >
    </p>

  </article>
  