<section>
    <p>
      You can create an input data profile in Data Loader using one of 
      the following methods:
    </p>
    <ol>
      <li>
        1️⃣ Upload a CSV template file when creating a new Data Loader 
        Executable from the Connection record.
      </li>
      <li>
        2️⃣ After the Executable is created, navigate to the Input section 
        and upload the CSV template file.
      </li>
      <li>
        3️⃣ Manually define columns in the Input section by adding CSV 
        columns and clicking Save to store the configuration.
      </li>
    </ol>
  </section>
  