<div class="form-group file-upload-section">
  <label>Downloadable Executables</label>
  <div class="downloadable-executables">
    <div class="downloadable-item"
         *ngFor="let executable of downloadableExecutables; let i = index; trackBy: trackByIndex">
      <div class="json-upload-area"
           [class.has-json]="executable.filePath"
           (drop)="onJsonFileDrop($event, i)"
           (dragover)="onJsonFileDragOver($event)"
           (dragleave)="onJsonFileDragLeave($event)"
           (click)="triggerJsonFileInput(i)">
        <input type="file"
               [id]="'json-upload-' + i"
               class="json-upload"
               accept=".json"
               style="display: none"
               (change)="onJsonFileSelect($event, i)">
        <div class="upload-placeholder"
             [class.uploaded]="executable.filePath">
          <ng-container *ngIf="!executable.filePath">
            Click or drag to upload JSON file
          </ng-container>
          <ng-container *ngIf="executable.filePath">
            ✓ {{ getJsonFileName(executable) }}
          </ng-container>
        </div>
      </div>
      <button type="button"
              class="btn btn-sm btn-danger"
              (click)="removeDownloadableExecutable(i)">−</button>
    </div>
    <button type="button"
            class="btn btn-sm btn-secondary"
            (click)="addDownloadableExecutable()">+ Add File</button>
  </div>
</div>
