<p>
  Yes, you can <strong>manually</strong> re-execute a specific failed batch from
  the Batch Execution record or re-execute all failed batches at once from the
  Execution record. 

  <img src="../../../../assets/image/batch-re-execute-failed-batches/batch-re-execute-failed-batches.png">
  
  Additionally, DSP supports
  <strong>Auto Retry for Failed Batches</strong>, enabling
  <strong>automated recovery</strong>
  without manual intervention.

  <img src="../../../../assets/image/batch-re-execute-failed-batches/rules-engines-batch-re-execute-failed-batches.png">
</p>
