<div class="recipe-step-container" [id]="stepId">
  <div class="step-main-content">
    <div class="step-description">
      <h3>{{ displayStepNumber }}. {{ stepData.step }}</h3>
    </div>

    <div class="step-content">
      <div class="media-section" *ngIf="stepData.media?.length">
        <div class="media-content">
          <div class="media-item" *ngFor="let media of stepData.media">
            <div [ngSwitch]="media.type">
              <div *ngSwitchCase="'image'" class="media-image" appSimpleZoomable [enableHoverZoom]="false">
                <img [src]="media.url" [alt]="media.alt" class="responsive-image zoomable-image">
                <p class="media-caption" *ngIf="media.alt">{{ media.alt }}</p>
              </div>

              <div *ngSwitchCase="'video'" class="media-video">
                <video controls class="responsive-video">
                  <source [src]="media.url" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <p class="media-caption" *ngIf="media.alt">{{ media.alt }}</p>
              </div>

              <div *ngSwitchCase="'link'" class="media-link">
                <a [href]="media.url" target="_blank" class="external-link">
                  <mat-icon>link</mat-icon>
                  {{ media.alt || media.url }}
                </a>
              </div>

              <div *ngSwitchCase="'document'" class="media-document">
                <a [href]="media.url" target="_blank" class="document-link">
                  <mat-icon>description</mat-icon>
                  {{ media.alt || 'Download Document' }}
                </a>
              </div>

              <div *ngSwitchDefault class="media-default">
                <a [href]="media.url" target="_blank">
                  {{ media.alt || media.url }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="config-section" *ngIf="stepData.config?.length">
        <div class="config-fields">
          <div class="field-group" *ngFor="let config of stepData.config; let i = index">
            <label>{{ i + 1 }}. {{ config.field }}:</label>
            <div class="field-value-container" [class.checkbox-container]="isBoolean(config.field)">
              <ng-container *ngIf="isBoolean(config.field); else textValue">
                <div class="slds-checkbox-container">
                  <div class="slds-checkbox" [class.slds-checkbox--checked]="isTrueValue(config.value)">
                    <input type="checkbox"
                           [checked]="isTrueValue(config.value)"
                           disabled
                           class="slds-checkbox__input">
                    <span class="slds-checkbox__faux">
                      <svg class="slds-checkbox__checkmark" *ngIf="isTrueValue(config.value)" viewBox="0 0 24 24">
                        <path d="M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1.001 1.001 0 0 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.74.33z"/>
                      </svg>
                    </span>
                  </div>
                </div>
              </ng-container>
              <ng-template #textValue>
                <span class="field-value">{{ config.value }}</span>
                <button class="copy-btn" (click)="copyToClipboard($event, config.value)" title="Copy to clipboard">
                  <mat-icon>content_copy</mat-icon>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
