<article>
    <p>
      When creating a Data Loader Executable, the 
      <strong>"Relax Field Mapping’s Type Check?"</strong> option is enabled by default, 
      allowing DSP to bypass strict type checks for string columns in the mappings. 
      DSP then attempts to automatically convert string values into the appropriate 
      data types for the assigned fields.
    </p>
  </article>
  
  <img src="../../../../assets/image/rules-engines-data-loader-data-loader-type-conversion/rules-engines-data-loader-data-loader-type-conversion.jpg" >