<article>
    <p>
      The <strong>"Additional Target Matching Criteria"</strong> field 
      lets you define extra SOQL conditions—such as filters and 
      <code>ORDER BY</code> clauses—that are appended to the query used 
      for matching target records.
    </p>
    <br/>
    <p>
      This allows for:
      </p>  
      <ul>
        <li><strong>More precise matching</strong> by narrowing down the 
          matched targets</li>
          <li><strong>Controlled sorting</strong> of matched records, especially 
            when used with <strong>Principal Matched Record Selection Rule</strong></li>
      </ul>
    <p>
      Use this field to fine-tune how DSP identifies and prioritizes target 
      records during the match step.
    </p>
  </article>
  
  <img [src]="'assets/image/process-steps-match-additional-target-matching/process-steps-match-additional-target-matching.jpg'" />      
