<article><p>
  To execute multiple Batch Executables in a specific order, create a
  <strong>Pipeline and associate the Executables</strong> with it, assigning a
  <strong>Seq No.</strong> based on their dependencies.
</p>
<br />
<p>
  When the Pipeline is executed, it executes Batch Executables
  <strong>sequentially</strong>, ensuring each one runs in the defined order.
</p>
<br />
</article>

<img [src]="'assets/image/rules-engines-batch-chain-batch-executables/rules-engines-batch-chain-batch-executables.jpg'" />