<article>
  <p>To grant users access to an Action Button:</p>
  <ul>
    <li>
      Assign the <strong>"DSP: Data Sync Pro Starter"</strong> permission set,
      which provides essential access to DSP package objects and components,
      including Action Buttons.
    </li>
  </ul>
  <img
    src="../../../../assets/image/rules-engines-action-button-action-button-access/rules-engines-action-button-action-button-access1.jpg"
  />
  <ul>
    <li>
      Ensure the <strong>Executable record</strong> defining the Action Button
      is shared with the user via record sharing or sharing rules.
    </li>
    <li>
      If <strong>"Required Custom Permissions To Execute"</strong> is
      configured, the user must have at least one of the specified custom
      permissions to view and execute the Action Button.
    </li>
  </ul>
  <img
    src="../../../../assets/image/rules-engines-action-button-action-button-access/rules-engines-action-button-action-button-access2.jpg"
  />
</article>
