<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">DSP</h1>
    <p class="hero-subtitle">Subtitle</p>
  </div>
</section>
<div style="text-align: center">
  <h1>Welcome to My Angular Tracking Demo!</h1>
  <p>Every click you make will be tracked if you accept the cookie notice below.</p>

  <button id="myTestButton">Click me</button>
</div>
<section class="why-section">
  <h2>WHY DSP?</h2>
  <div class="review-cards">
    <div class="review-card">
      <h3>Review title</h3>
      <p>Review body</p>
    </div>
    <div class="review-card">
      <h3>Review title</h3>
      <p>Review body</p>
    </div>
    <div class="review-card">
      <h3>Review title</h3>
      <p>Review body</p>
    </div>
    <div class="review-card">
      <h3>Review title</h3>
      <p>Review body</p>
    </div>
    <div class="review-card">
      <h3>Review title</h3>
      <p>Review body</p>
    </div>
  </div>
</section>
<nav class="tabs-nav">
  <ul>
    <li *ngFor="let tab of tabs">
      <a
        href="javascript:void(0);"
        (click)="selectTab(tab)"
        [class.active]="tab.name === selectedTab.name"
      >
        {{ tab.name }}
      </a>
    </li>
  </ul>
</nav>

<section class="second-hero">
  <div class="second-hero-content">
    <h2>{{ selectedTab.secondHeroTitle }}</h2>
    <p>{{ selectedTab.secondHeroSubtitle }}</p>
  </div>
</section>

<section class="two-cards-section">
  <div class="two-cards-container">
    <div class="card">
      <h3>{{ selectedTab.cardOneTitle }}</h3>
      <p>{{ selectedTab.cardOneContent }}</p>
    </div>
    <div class="card">
      <h3>{{ selectedTab.cardTwoTitle }}</h3>
      <p>{{ selectedTab.cardTwoContent }}</p>
    </div>
  </div>
</section>

<section class="cta-section">
  <h2>Let’s find the right plan for your business.</h2>
  <button class="cta-button">See Pricing</button>
</section>
