<section>
    <p>
      To grant users access to a <strong>Data Loader</strong>:
    </p>
    <ul>
      <li>
        Assign the <strong>""DSP: Data Sync Pro App User""</strong> permission set, 
        which provides the necessary access to execute a <strong>Batch</strong> or 
        <strong>Data Loader</strong>, including create access to Execution-related objects. 
        Additionally, ensure the <strong>Executable record</strong> defining the Data Loader 
        is shared with the user through record sharing or sharing rules.
      </li>
      <li>
        Alternatively, assign the <strong>""DSP: Data Sync Pro Administrator""</strong> 
        permission set, which grants full access to all DSP functionalities, including Data Loaders.
      </li>
    </ul>
  </section>
  